.counter-box {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.counter-card {
  flex: 1;
  padding: 1em;
  border-radius: 15px;
  background-color: #6da5c0;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  transition: 0.4s;
  scale: 1;
  cursor: pointer;
}

.counter-card:hover {
  transition: 0.4s;
  transform: scale(1.05);
}

.counter-card h2 {
  margin-bottom: 0.5em;
}

@media (max-width: 450px) {
  .counter-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }

  .counter-card {
    margin-bottom: 0;
    padding: 0.5em;
  }

  .counter-card h2 {
    font-size: 1.2em;
  }

  .counter-box p {
    font-size: 0.9em;
  }

  .counter-card:last-child {
    grid-column: span 2;
    margin-bottom: 1em;
  }
}
