* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/background.jpg');
  background-position: center;
  background-size: cover;
  color: #ffffff;
  min-height: 100vh;
}
